#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=TunnelCore VPN
Version=1.0
Comment=TunnelCore VPN client
Exec=AmneziaVPN
Icon=/usr/share/pixmaps/AmneziaVPN.png
Categories=Network;Qt;Security;
Terminal=false
StartupWMClass=AmneziaVPN
